*.dcu
*.exe
*.bpl
*.csm
*.dsk
*.obj
*.lib
*.il
*.ppu
*.so
*.map
*.tlb
*.rsm
*.tds
*.stat
*.tvsconfig

# Arquivos temporários
*.~*
*.$$$
*.tmp

*.local
*.identcache
*.ini

__history/
__recovery/
astcache/

*.bak
*.log